* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f1ddcf;
	justify-content: center;
	text-align: center;
}

h1 {
	padding: 10px;
}

img {
	width: 100%;
	height: auto;
}

label {
	margin: 30px;
}

input {
	margin-bottom: 10px;
}

option {
	text-align: center;
}

.interactive {
	background-color: white;
	border-radius: 30px;
	padding: 20px;
	padding-bottom: 10px;
	margin: 10px;
}

.interactive hr {
	margin: 20px;
	padding: 0;
}

.button {
	margin: 20px;
}

.footer {
	padding: 5px;
}

.footer h2 {
	margin: 10px;
}

@media (min-width: 48em) {
	h1 {
		margin: 20px;
	}

	hr {
		margin-bottom: 10px;
	}

	img {
		width: 25%;
	}

	.interactive {
		margin-left: 300px;
		margin-right: 300px;
	}
}
